services:
  denokv:
    image: ghcr.io/denoland/denokv
    ports:
      - "4512:4512"
    volumes:
      - ./data:/data
    command: --sqlite-path /data/denokv.sqlite serve --access-token ${DENOKV_ACCESS_TOKEN}
    env_file:
      - .env
    init: true